<form>
    <table>
        <thead>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity</th>
            <th></th>
        </thead>
        {{#each UserCartDetails}}
        <tr>
            <td>{{ProductCatalog.product_name}} </td>
            <td>{{ProductCatalog.product_description}} </td>
            <td id="row-{{id}}"><input type="text" id="qty_input" size="4" maxlength="4" placeholder="Qty"
                    class="form-control mb-2 mr-2" value="{{quantity}}"></td>
            <td>
                <button type="button" data-cart-detail-id="{{id}}" class="update">Update</button>
                <button type="button" data-cart-detail-id="{{id}}" class="delete">Delete</button>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</form>