<div class="container">

    <div class="card">

        <div class="card-header">
            <h2>Orders</h2>
        </div>
        <div class="card-body">


            <table class="ordertable table-striped">
                <thead>
                    <th></th>
                    <th>Order Id</th>
                    <th>Supplier</th>
                    <th>Order Status</th>
                    <th>Item Count</th>
                    <th>Order Created Date</th>
                </thead>


                {{#each order}}
                <tr>
                    <td class="orderColumn orderID">{{id}} </td>
                    <td class="orderColumn supplierId">{{Vendor.user_name}}</td>
                    <td class="orderColumn orderStatus">{{order_status}}</td>
                    <td class="orderColumn orderItemCount">{{order_item_count}}</td>
                    <td class="orderColumn orderDate">{{createdAt}}</td>
                    <td class="orderColumn orderDetailsLink" id={{id}}><a href="/api/buyer/orders/{{id}}">Details</a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/supplierOrderHistory.js"></script>