{{#each userList}}
<ul>
    <li>
        <a href="/api/products/vendor/{{id}}">{{user_name}}</a><br>
        {{user_addr_1}} {{user_addr_2}} <br>
        {{user_addr_city}}, {{user_addr_province}} {{user_addr_postal_code}}
    </li>
</ul>
{{/each}}

{{#each productList}}
<ul>
    <li>
        <img src="{{product_img}}"><br>
        {{product_name}} <br>
        {{product_description}} <br>
        {{product_expiry_date}} <br>
        Perishable: {{#if product_perishable}}Y{{else}}N{{/if}}<br>

        <form>
            <input type="text" id="quantity">
            <button type="button" data-id="{{id}}" class="place-order">Place Order</button>
        </form>
    </li>
</ul>
{{/each}}