<div class="container">


    <div class="card-columns">
        {{#each userList}}
        <div class="card">
            <img src="{{user_profile_pic}}" class="card-img-top userProfileImg">
            <div class="card-body">
                <h5 class="card-title"><a href="/api/users/Vendor/{{id}}">{{user_name}}</a></h5>
                <p class="card-text">
                    {{user_addr_1}} {{user_addr_2}} <br>
                    {{user_addr_city}}, {{user_addr_province}} {{user_addr_postal_code}}
                </p>
            </div>
        </div>
        {{/each}}
    </div>



    <div class="page-title">
        <h2>{{vendor.user_name}} Products</h2>
    </div>

    <div class="card-columns">
        {{#each productList}}

        <div class="card vh-100">
            <h5 class="card-title text-truncate">{{product_name}}</h5>
            <img src="{{product_img}}" class="card-img-top productImg text-center">
            <hr>
            <div class="card-body prod-desc">

                <p class="card-text">{{product_description}}</p>
                <p class="card-text">Expiry Date: {{product_expiry_date}}</p>
                <p class="card-text">Perishable: {{#if product_perishable}}Y{{else}}N{{/if}}</p>
                <p class="card-text">Available: {{product_current_qty}} of {{product_original_qty}}</p>
                <div class="orderDetails">
                    <span class="selectCol">Add to cart<input type="checkbox" id="select_input_{{id}}"
                            data-product-id="{{id}}" class="selectOrder"></span>
                    <span class="quantityCol">Quantity</span><input type="number" id="qty_input_{{id}}" size="4" min="1"
                        max="{{product_current_qty}}"><br><span id="error_msg_{{id}}" class="text-danger"></span>

                </div>
            </div>

        </div>
        {{/each}}


    </div>


    <div class="card">

        <div class="card-header">
            <h2>{{vendor.user_name}} Products</h2>
        </div>
        <div class="card-body">

            <p id="message" class="text-danger"></p>

            <form id="orderForm">
                <button type="submit" data-vendor-id="{{vendor.id}}" class="btn btn-primary mb-3" id="place-order">Place
                    Order</button>

                <table class="table">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Expiry Date</th>
                        <th>Available</th>
                        <th>Perishable</th>
                        <th>Order Quantity</th>
                    </tr>
                    {{#each productList}}
                    <tr>
                        <td class="selectCol"><input type="checkbox" id="select_input_{{id}}" data-product-id="{{id}}"
                                class="selectOrder"></td>
                        <td class="w-25"><img src="{{product_img}}" class="img-fluid"></td>
                        <td>{{product_name}}</td>
                        <td>{{product_description}}</td>
                        <td>{{#if product_perishable}}{{product_expiry_date}}{{/if}}</td>
                        <td>{{product_current_qty}}</td>
                        <td>{{#if product_perishable}}Y{{else}}N{{/if}}</td>
                        <td class="quantityCol"><input type="number" id="qty_input_{{id}}" size="4" min="1"
                                max="{{product_current_qty}}"><br><span id="error_msg_{{id}}"
                                class="text-danger"></span>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </form>

        </div>
    </div>
</div>

<div class="modal" id="orderSubmitted" tabindex="-1" role="dialog" aria-labelledby="orderSubmitted" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add to Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your order has been added to Cart.
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="cartHasItems" tabindex="-1" role="dialog" aria-labelledby="cartHasItems" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add to Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your cart has items for <span id="vendorName"></span>. Would like to delete them?
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteCart">Yes</button>
                <button type="button" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



</div>

<!--Bootstrap JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script type="text/javascript" src="/js/customerDashboard.js"></script>