<div class="container">
    <div class="card">

        <div class="card-header">
            <h2>Cart</h2>
        </div>
        <div class="card-body">
            <button type="submit" data-vendor-id="{{vendor.id}}" class="btn btn-primary mb-3 place-order">Submit
                Order</button>

            <form id="orderForm">
                <table class="table">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Expiry Date</th>
                        <th>Available</th>
                        <th>Perishable</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                    {{#each cart}}
                    {{#each UserCartDetails}}
                    <tr>
                        <td class="w-25"><img src="{{ProductCatalog.product_img}}" class="img-fluid"></td>
                        <td>{{ProductCatalog.product_name}}</td>
                        <td>{{ProductCatalog.product_description}}</td>
                        <td>{{#if ProductCatalog.product_perishable}}{{ProductCatalog.product_expiry_date}}{{/if}}</td>
                        <td>{{ProductCatalog.product_current_qty}}</td>
                        <td>{{#if ProductCatalog.product_perishable}}Y{{else}}N{{/if}}</td>
                        <td><input type="number" id="qty_input_{{id}}" size="4" min="1"
                                max="{{ProductCatalog.product_current_qty}}" value="{{quantity}}" class="qtyInput"
                                data-product-id="{{ProductCatalog.id}}" data-cart-detail-id="{{id}}"><br><span
                                id="error_msg_{{id}}" class="text-danger"></span>
                        </td>
                        <td>
                            <button type="button" data-cart-detail-id="{{id}}"
                                class="btn btn-primary mb-2 update">Update</button>
                            <button type="button" data-cart-detail-id="{{id}}"
                                class="btn btn-primary mb-2 delete">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                    {{/each}}
                    </tbody>
                </table>
            </form>

            <button type="submit" data-vendor-id="{{vendor.id}}" class="btn btn-primary mb-3 place-order">Submit
                Order</button>

        </div>
    </div>
</div>

<div class="modal" id="orderSubmitted" tabindex="-1" role="dialog" aria-labelledby="orderSubmitted" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Submitted</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your order has been successfully submitted. Ref #<span id="orderNo"></span>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/customerCart.js"></script>