<ul>
    {{#each userList}}
    <li>
        <a href="/api/products/buyer/{{id}}">{{user_name}}</a><br>
        {{user_addr_1}} {{user_addr_2}} <br>
        {{user_addr_city}}, {{user_addr_province}} {{user_addr_postal_code}}
    </li>
    {{/each}}
</ul>


{{~#if productList.length}}

<form id="orderForm">
    <button type="submit" data-vendor-id="{{vendor.id}}" class="mb-2" id="place-order">Place
        Order</button>

    <table class="w-75">
        <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Expiry Date</th>
            <th>Available</th>
            <th>Perishable</th>
            <th>Order Quantity</th>
        </tr>
        {{#each productList}}
        <tr>
            <td class="selectCol"><input type="checkbox" id="select_input_{{id}}" data-product-id="{{id}}"
                    class="selectOrder"></td>
            <td class="w-25"><img src="{{product_img}}" class="img-fluid"></td>
            <td>{{product_name}}</td>
            <td>{{product_description}}</td>
            <td>{{#if product_perishable}}{{product_expiry_date}}{{/if}}</td>
            <td>{{product_current_qty}}</td>
            <td>{{#if product_perishable}}Y{{else}}N{{/if}}</td>
            <td clas="quantityCol"><input type="number" id="qty_input_{{id}}" size="4" min="1"
                    max="{{product_current_qty}}">
            </td>
        </tr>
        {{/each}}
    </table>
</form>

<div class="modal" id="orderSubmitted" tabindex="-1" role="dialog" aria-labelledby="orderSubmitted" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Submitted</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your order has been successfully submitted.
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{/if}}

<!--Bootstrap JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/customerDashboard.js"></script>