<table class="ordertable table-striped">
    <thead>
        <th></th>

        <th>Order Id</th>
        <th>Buyer Name</th>
        <th>Order Status</th>
        <th>Item Count</th>
        <th>Order Created Date</th>

    </thead>
    {{#each order}}
    <tr>
        <td class="selectCol"><input type="checkbox" id="select_input_{{id}}" order-id="{{id}}"
                class="selectOrder"></td>
        <td class="orderColumn orderID">{{id}} </td>
        <td class="orderColumn buyerName">{{Buyer.user_name}}</td>
        <td class="orderColumn orderStatus">{{order_status}}</td>
        <td class="orderColumn orderItemCount">{{order_item_count}}</td>
        <td class="orderColumn orderDate">{{createdAt}}</td>
        <td class="orderColumn orderDetailsLink" id={{id}}><a href="/api/vendor/orders/{{id}}">Details</a></td>
    </tr>
    {{/each}}
    </tbody>
</table>

<br><br>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Change Order Status
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" data-value = "Open" href="#">Open</a>
        <a class="dropdown-item" data-value = "Closed" href="#">Closed</a>
        <a class="dropdown-item" data-value = "Cancelled" href="#">Cancelled</a>
        <a class="dropdown-item" data-value = "Ready for Pickup"href="#">Ready for Pickup</a>
    </div>
</div>

<br><br>

<button type="submit" class="btn btn-success" id="save-changes">Save Changes</button>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/supplierOrderHistory.js"></script>