<div class="container">

    <div class="page-title">
        <h1>My Products</h1>
    </div>


    <div class="card-columns">

        {{#each productList}}

        <div class="card vh-100">
            <button type="submit" class="btn btn-danger btn-sm float-right delete-product" product-id="{{id}}" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="card-title text-truncate">{{product_name}}</h5>

            <img src="{{product_img}}" class="card-img-top productImg text-center">
            <hr>
            <div class="card-body prod-desc">

                <p class="card-text">{{product_description}}</p>
                <p class="card-text">Available: {{product_current_qty}} of {{product_original_qty}}</p>
                <p class="card-text">Expiry Date: {{product_expiry_date}}</p>
                <p class="card-text">Perishable: {{#if product_perishable}}Y{{else}}N{{/if}}</p>

            </div>
        </div>
        {{/each}}

    </div>
    <div class="modal" id="unableToDelete" tabindex="-1" role="dialog" aria-labelledby="unableToDelete" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="modal-title-message"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id=productDeleteMessage></span>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</div>
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/vendor.js"></script>