{{#each productList}}
<ul>
    <li>
        <img src="{{product_img}}"><br>
        {{product_name}} <br>
        {{product_description}} <br>
        Available: {{product_current_qty}} of {{product_original_qty}}
        Expiry Date: {{product_expiry_date}} <br>
        Perishable: {{#if product_perishable}}Y{{else}}N{{/if}}<br>
    </li>
</ul>
{{/each}}